{% extends 'base.html.twig' %}


{% block body %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2>
                Podsumowanie
            </h2>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index.html">Podsumowanie</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbotron-low">
        <div class="container">
            <h1 class="display-4">Szkoła {{ app.user.name }}</h1>
            <p class="lead">Liczba nauczycieli: <b>{{ teacherNo }}</b>. Lczba kursów: <b>0</b>.</p>
        </div>
    </div>

{% endblock %}