{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Moje kursy
                </h2>
            </div>
        </div>

        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index.html">Podsumowanie</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Moje kursy
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead class="thead">
                <tr>
                    <th>L.p.</th>
                    <th>Nazwa kursu</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for element in courses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ element.courseName }}</td>
                        <td><a href=" {{ path('show_teachers', {'id':  element.id }) }}">
                                <button type="button" class="btn btn-warning">Dodaj lekcje</button></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>


{% endblock %}