body {
    background-color: #a2a2a2;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1080px;
    }
}

.container-white {
    padding-top: 5rem;
    background-color: white;
    min-height: 700px;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.button-bottom-margin {
    margin-bottom: 15px;
}

.button-top-margin {
    margin-top: 15px;
}

.bg-dark {
    background-color: #05772e !important;
}

.btn:hover {
    cursor: pointer;
}

.table>tbody>tr>td, .table>tbody>tr>th {
    vertical-align: middle !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.jumbotron-low {
    padding: 1rem 2rem;
}

b, strong {
    font-weight: bold;
}

.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

label {
    display: inline-block;
    margin-bottom: .1rem;
    margin-top: .4rem;
}

footer {
    color: white;
    padding-top: 5px;
}

.min-height {
    min-height: 550px;
}